[submodule "modules/tinytoml"]
	path = modules/tinytoml
	url = https://github.com/mayah/tinytoml
[submodule "modules/date"]
	path = modules/date
	url = https://github.com/HowardHinnant/date
[submodule "modules/spdlog"]
	path = modules/spdlog
	url = https://github.com/gabime/spdlog
[submodule "modules/cryptopp"]
	path = modules/cryptopp
	url = https://github.com/weidai11/cryptopp
[submodule "modules/cryptopp-cmake"]
	path = modules/cryptopp-cmake
	url = https://github.com/noloader/cryptopp-cmake
[submodule "modules/json11"]
	path = modules/json11
	url = https://github.com/dropbox/json11
